
// Backend PORT
PORT=8080

// Database URL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/your_db?schema=public

// JWT Secret
JWT_SECRET=

// CoinGeko Demo API Key
COINGECKO_API_KEY=
COINGECKO_URL=https://api.coingecko.com/api/v3

// Frontend URL
NEXT_PUBLIC_API_URL=

// OpenAI Configuration
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini